.links {


      background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#4b4a5e), /* Lighter color */
    to(#373633) /* Lighter color */
);
background: -o-linear-gradient(#4b4a5e, #373633); /* Lighter colors */
background: linear-gradient(#4b4a5e, #373633); /* Lighter colors */
-webkit-box-shadow: inset 0px 5px 4px 0px #525161, 0px 4px 15px 0px #1f1e27; /* Lighter colors */
box-shadow: inset 0px 5px 10px 0px #26252c, 0px 3px 6px -2px #504f5e; /* Lighter colors */
-webkit-transition: left 0.4s ease-in-out;
-o-transition: left 0.4s ease-in-out;
transition: left 0.4s ease-in-out, transform 0.4s ease-in-out;
    
}
.links:hover {
    box-shadow: inset 0px 5px 10px 0px #16151c, 0px 0px 15px -2px lightgray;
}